*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;

}
.container{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    box-sizing: border-box;


}
.card{
    background-color: #d4d1d1fe;
    padding: 16px;
    width: 340px;
    height: auto;
    text-align: center;
    box-shadow: -1px 15px 30px -12px #000;
    border-radius: 14px;
    color: #000;
    cursor: pointer;
    box-sizing: border-box;

}
/* IMAGE */
img{
    max-width: 100%;
    height: 184px;
    box-sizing: border-box;
    
}
.container-img {
    transform: translate(0, -1.5rem ) ;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13,0.4));
}
.container-img:hover {
    transform: translate(-.1rem, -3rem) rotate(8deg) ;
    
}
.container-img h2{
    font-size:22px;
    font-weight:600;
    
}
.container-img p{
    margin: 6.4;
    font-size: 13px;
    font-weight:600;
    
}
.container-img .price{
    font-size: 19px;
    font-weight:500;

}
/* END IMAGE */

/* BUY & CART-ICON*/
.buy-btn,
.container-icon{
    display: block;
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 0.5rem;    
}
.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 13px;

}
.btn .buy-btn{
    background-color: #141414;
    color: #fff;
    padding: 10px 56px;
    font-weight: 600;
    font-size: 16px;
    transition: .3s;
}
.btn .buy-btn:hover{
    background-color: #504f4f;
}
.btn .container-icon{
    display: grid;
    background-color: #fff;
    padding: 16x 16px;
    border: 1px solid #000;
    place-items: center;
    font-size: 30px;
}
.bi{
    font-size: 29px;
    color: #000000;
}
/* BUY & CART-ICON */
@media (max-width:1000px){
    .container {
        height: auto;
        align-items: center;
        flex-direction: column;

    }
    .card{
        margin: 50px 0;
    }
    .container-icon{
        display: none;
    }
}