<!-- <nav class="navbar navbar-light bg-light p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a href="/dashboard" class="navbar-brand">
            {{titulo}}
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-taaria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
                <li class="nav-item">
                    <a class="nav-link active">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
